/* body {
  margin: 0;
  background: white; 
}
 */

#container{
  border: solid 1px black;
  width: 600px;
  height: 600px;
  /*поместить игру в центр экрана*/
  top: 300px;
  left: 100px;
  /*выходящее за рамки контейнера прячется*/
   overflow: hidden; 
}
.cat{
  position: absolute;
  width: 120px;
  height: 50px;
  top: 230px;
  left: 200px;
  background: #DB8A74;
  border: solid  #478978;
  border-radius: 80%;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  }


 .barrier{
  position: relative;
  width: 8px;
  height: 30px;
  top: 225px;
  left: 700px;
  background: #167543;
  /* transform: translateX(200px) ; */
  /*анимация через трансформацию*/
 /*  transition: transform 3s linear; */
 /* 3 секунды задержка + мы двигаем с 1000px для органичности появления препятствия*/
 animation: barrierMove 4s 3s linear infinite;
 }
  
  @keyframes barrierMove {
    from {left: 1000px}
    to {left: 0px}
  }

 
  .jumpUp{
    transition: transform 400ms /* linear  */cubic-bezier(0.175, 0.885, 0.32, 1.5);
  }

  .jumpDown{
    transition: transform 600ms cubic-bezier(0.18,0.08,0.66,0.46);
  }

  .line{
    position: absolute;
    height:3px;
    width: 600px;
    background:gray;
    }




  
  